/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0816;
}

/* Navbar */
header {
  background-color: #100c1e;
  display: flex;
  padding: 20px;
  justify-content: left;
  gap: 20px;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  color: white;
}
.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  border-bottom: 3px solid #2f9eb2;
}

/* End Navbar */

/* About Section */
.about-informative {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.about-informative img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.content-informative {
  max-width: 600px;
  align-items: center;
  /* border:2px solid red; */
  /* width: 50%; */
}
.content-informative h2 {
  font-size: 2rem;
  color: #ac9cea;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
.content-informative p {
  color: white;
  text-align: justify;
}

.mision-vision {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.highlight {
  color: #2f9eb2;
  text-align: center;
  width: 800px;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.feature {
  position: relative;
  background: #131027;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.feature i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.feature h4 {
  color: #a59eff;
  font-size: 1.3rem;
}

.feature::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #4a66c7, #392048);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* How It Works */
.how-it-works {
  padding: 50px;
  background: linear-gradient(
    90deg,
    rgba(73, 23, 47, 0) -1.15%,
    rgba(51, 21, 56, 0.33) 48.85%,
    rgba(29, 19, 65, 0.28) 98.85%
  );
  margin-bottom: 50px;
}
.how-it-works h2 {
  text-align: center;
  color: #2f9eb2;
  font-size: 1.7rem;
  margin-bottom: 40px;
}
.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.step i {
  font-size: 2.5rem;
  margin-bottom: 60px;
}
.info-step {
  text-align: center;
  position: relative;
  max-width: 200px;
}

.info-step h5 {
  font-size: 1.7rem;
  padding: 10px;
}
.info-step::before,
.info-step::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #00bfff;
}
.info-step::before {
  top: -10px;
  left: -10px;
  border-right: none;
  border-bottom: none;
}
.info-step::after {
  bottom: -10px;
  right: -10px;
  border-left: none;
  border-top: none;
}

/* Discord */
.banner-discord {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discord {
  position: relative;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #152f56 0%, rgba(45, 101, 185, 0) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  color: white;
}

.content {
  max-width: 50%;
  text-align: left;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  color: #00bfff;
  text-decoration: none;
  border: 1px solid #00bfff;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #00bfff;
  color: white;
}

footer {
  margin-top: 50px;
  background: #100c1e;
  padding: 20px;
  color: #fff;
}

footer p {
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
