/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0816;
}

/* Navbar */
header {
  background-color: #100c1e;
  display: flex;
  padding: 20px;
  justify-content: left;
  gap: 20px;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  color: white;
}
.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  border-bottom: 3px solid #2f9eb2;
}

/* End Navbar */

/* About Section */
.about-informative {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.about-informative img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.content-informative {
  max-width: 600px;
  align-items: center;
  /* border:2px solid red; */
  /* width: 50%; */
}
.content-informative h2 {
  font-size: 2rem;
  color: #ac9cea;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
.content-informative p {
  color: white;
  text-align: justify;
}

.mision-vision {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.highlight {
  color: #2f9eb2;
  text-align: center;
  width: 800px;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.feature {
  position: relative;
  background: #131027;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.feature i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.feature h4 {
  color: #a59eff;
  font-size: 1.3rem;
}

.feature::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #4a66c7, #392048);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* How It Works */
.how-it-works {
  padding: 50px;
  background: linear-gradient(
    90deg,
    rgba(73, 23, 47, 0) -1.15%,
    rgba(51, 21, 56, 0.33) 48.85%,
    rgba(29, 19, 65, 0.28) 98.85%
  );
  margin-bottom: 50px;
}
.how-it-works h2 {
  text-align: center;
  color: #2f9eb2;
  font-size: 1.7rem;
  margin-bottom: 40px;
}
.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.step i {
  font-size: 2.5rem;
  margin-bottom: 60px;
}
.info-step {
  text-align: center;
  position: relative;
  max-width: 200px;
}

.info-step h5 {
  font-size: 1.7rem;
  padding: 10px;
}
.info-step::before,
.info-step::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #00bfff;
}
.info-step::before {
  top: -10px;
  left: -10px;
  border-right: none;
  border-bottom: none;
}
.info-step::after {
  bottom: -10px;
  right: -10px;
  border-left: none;
  border-top: none;
}

/* Discord */
.banner-discord {
  display: flex;
  justify-content: center;
  align-items: center;
}
.discord {
  position: relative;
  width: 80%;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #152f56 0%, rgba(45, 101, 185, 0) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  color: white;
}

.content {
  max-width: 50%;
  text-align: left;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  color: #00bfff;
  text-decoration: none;
  border: 1px solid #00bfff;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #00bfff;
  color: white;
}

footer {
  margin-top:50px;
  background: #100c1e;
  padding: 20px;
  color: #fff;
}

footer p {
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

/* torneos.html */
.title-tournaments {
  color: #ac9cea;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
  margin-bottom: 50px;
}

.tournaments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card-tournaments {
  /* border: 2px solid red; */
  width: 300px;
}
.card-tournaments img {
  width: 295px;
  height: 185px;
}
.card-info {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    2deg,
    #49172f 1.47%,
    rgba(175, 55, 113, 0) 98.53%
  );
}
.card-info2 {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(0deg, #293e52 0%, rgba(45, 112, 174, 0) 100%);
}

.card-info3 {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(0deg, #152f56 0%, rgba(45, 101, 185, 0) 100%);
}

.card-info4 {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(0deg, #392048 0%, rgba(130, 54, 174, 0) 100%);
}
.title-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: start;
  gap: 10px;
  align-self: stretch;
}
.title-card h5 {
  color: #44cbda;
}

.title-card h3 {
  font-size: 1rem;
  color: white;
}
.option-card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.option {
  color: white;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;
  /* opacity: 0.5; */
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5px);
}

.host {
  padding: 10px;
}

.host h6 {
  color: white;
  font-size: 1rem;
  font-style: normal;
}

.host p {
  padding: 10px 10px 0 0;
  color: #85b4b9;
  font-size: 0.8rem;
  font-style: normal;
}

.card-pie {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5px);
  height: 40px;
}

/* registration page */

.container-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh; 
}

.title-registration {
  color: #ac9cea;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 20px;
}

.registration {
  position: relative;
  /* background: #131027; */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  width: 50%;
  /* height: 100%; */
}

.registration::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #4a66c7, #392048);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.conteiner_inscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pay-card {
  width: 50%;
}

.conteiner_inscription label {
  text-align: start;
}

.conteiner_inscription input,
.conteiner_inscription select,
.conteiner_inscription textarea {
  padding: 10px;
  background: none;
  border: none;
  color: white;
  border-bottom: 2px solid #392048;
  background: #131027;
}
.conteiner_inscription input::placeholder {
  color: rgba(255, 255, 255, 0.39);
}
.conteiner_inscription .flatpickr-input::placeholder {
  color: rgba(255, 255, 255, 0.39);
}
.conteiner_inscription input:focus,
.conteiner_inscription select:focus,
.conteiner_inscription textarea:focus {
  outline: none;
  border-bottom: 2px solid #a678ff;
}

.conteiner_inscription select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.07 2.3 4 3.204 4h9.592c.904 0 1.319 1.07.753 1.658L8.753 11.14a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px; /* espacio para la flecha */
}
.conteiner_inscription input[type="number"] {
  padding: 10px;
  background: #131027;
  color: white;
  border: none;
  border-bottom: 2px solid #392048;
  font-size: 1rem;
  font-family: inherit;
  appearance: textfield;
}

.conteiner_inscription input[type="number"]::-webkit-outer-spin-button,
.conteiner_inscription input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-contact {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background: #44cbda;
  border: none;
  font-size: 1rem;
}

.btn-registration{
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background: #44cbda;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.section-game {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.start-game{
  position: relative;
  /* background: #131027; */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
  /* margin-bottom: 50px; */
  width: 50%;
  /* height: 100%; */
}

.start-game::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #4a66c7, #392048);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
