* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0b0816;
}

header {
  background-color: #100c1e;
  display: flex;
  padding: 20px;
  justify-content: left;
  gap: 20px;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  color: white;
}
.menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  border-bottom: 3px solid #2f9eb2;
}
section {
  padding-bottom: 50px; /* Ajusta el valor según lo que necesites */
}

.about-informative {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.about-informative img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.content-informative {
  max-width: 600px;
  align-items: center;
  /* border:2px solid red; */
  /* width: 50%; */
}
.content-informative h2 {
  font-size: 2rem;
  color: #ac9cea;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
.content-informative p {
  color: white;
  text-align: justify;
}

.mision-vision {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.mision-vision h3 {
  color: #2f9eb2;
  text-align: center;
  width: 800px;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.module-icons {
  position: relative;
  background: #131027;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: white;
}

.module-icons i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.module-icons h4{
    color: #A59EFF;
    font-size: 1.3rem;
}

.module-icons::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(90deg, #4a66c7, #392048);
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* How It Works */
.how-it-works {
  padding: 50px;
  background: linear-gradient(
    90deg,
    rgba(73, 23, 47, 0) -1.15%,
    rgba(51, 21, 56, 0.33) 48.85%,
    rgba(29, 19, 65, 0.28) 98.85%
  );
}
.how-it-works h2 {
  text-align: center;
  color: #2f9eb2;
  font-size: 1.7rem;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
}
